

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
       <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i>
            <span>Manage User</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
          </ul>
        </li> -->
          {% for menus in menu_data.menus %}
              <li><i class="fa fa-circle-o text-aqua"></i> <span style="color: white;">{{ menus.menu_name|e }}</span></a></li>
            {% for sub_menus in menu_data.sub_menus %}
             {% if menus.menu_item_id == sub_menus.menu_parent_id %}
                <li><a href="{{constant('BASE_URL') ~  sub_menus.route_url|e }}"><i class="fa fa-circle-o text-aqua"></i> <span>{{ sub_menus.menu_name|e }}</span></a></li>
             {% endif %}
            {% endfor %}
          {% endfor %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

