
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.collapsible1 {
  background-color: #777;
  color: rgb(179, 161, 161);
  cursor: pointer;
  padding:8px 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible1:hover {
  background-color: #555;
}

.collapsible1:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}

.content1 {
  padding: 0 2px;
  max-height:auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}
.btn-submit-width{width:250px !important;}
.approval {
  display:inline-flex;}

span.labelstyle {
    font-size: 12px;
}
span.labelstyle1 {
  font-size: 14px;
  font-weight: 600;
}
.npad-both {
  padding:0px !important;
}
.npad-both1 {
  padding: 8px 0px 0px 8px !important;
}
.npad-both2 {
  padding: 10px 7px 4px 12px !important;
}
.npad-both3 {
  padding: 8px 0px 0px 21px !important;
}
.la-input {
    width: auto;
    margin: 0px 0px 0px 10px;
    height: 28px;
}
.margin-cmn {
  margin:20px 0px;
}

.margin-cmn {
    padding: 20px 0px 20px 4px;
    border-bottom: 1px solid #dedede;
}

/* Sortable items */

.sortable-list {
  background-color: #F93;
  list-style: none;
  margin: 0;
  min-height: 60px;
  padding: 10px;
}
.sortable-item {
  background-color: #FFF;
  border: 1px solid #000;
  cursor: move;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px 0;
  text-align: center;
}
/* Item placeholder (visual helper) */

.placeholder {
  background-color: #BFB;
  border: 1px dashed #666;
  height: 58px;
  margin-bottom: 5px;
}
.panel,
.panel-body {
  box-shadow: none;
}

.panel-group .panel-heading {
  padding: 0;
}

.panel-group .panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  position: relative;
}

.panel-group .panel-heading a:after {
  content: '-';
  float: right;
}

.panel-group .panel-heading a.collapsed:after {
  content: '+';
}
.mr-t-sm {margin-top: 16px;}

#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}
.nopad0{padding:0px;}
.box.box-solid.box-solid-cust {
    width: 95%;
}