{% include 'admin/layouts/header.twig' %}
{% include 'admin/layouts/sidebar.twig' %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
  {% if(success is defined) %}
 			<div class="alert alert-success">{{ success }}</div>
		{% endif %}
		{% if(error is defined) %}
	 		<div class="alert alert-danger"> {{ error }}</div>
		{% endif %}
  <p><h3>Add New User</h3></p>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
            	<form method="post" id="userForm" enctype="multipart/form-data">
			        <fieldset>
			            <div class="form-group">
			            	<label for="firstname">First Name:</label>
			                <input class="form-control" placeholder="First Name" name="firstname" type="text" >
			            </div>
			            <div class="form-group">
			            	<label for="lastname">Last Name:</label>
			                <input class="form-control" placeholder="Last Name" name="lastname" type="text" >
			            </div>
			           <div class="form-group">
			            	<label for="username">Username:</label>
			                <input class="form-control" placeholder="UserName" name="username" type="text" >
			            </div>
			            <div class="form-group">
			            	<label for="email">User Phone:</label>
			                <input class="form-control" placeholder="User Phone" name="user_phone_no" type="text" >
			            </div>
			            <!-- <div class="form-group">
			            	<label for="email">Email:</label>
			                <input class="form-control" placeholder="Email" name="email" type="text" required>
			            </div> -->
			            <div class="form-group">
			            	<label for="role">Role:</label>
			                <select class="form-control" id="role_id" name="role_id" >
			                	<option value = "">Select Role</option>
			                	{% for role in roles %}
			                		<option value = "{{ role.role_id }}">{{ role.description|e }}</option>
			                	{% endfor %}
			                </select>
			            </div>
			            <div class="form-group">
			            	<label for="department">Department:</label>
			                <select class="form-control" id="department_id" name="department_id" >
			                	<option value = "">Select Department</option>
			                	{% for department in departments %}
			                		<option value = "{{ department.department_id }}">{{ department.department_name|e }}</option>
			                	{% endfor %}
			                </select>
			            </div>
			            <div class="form-group">
			            	<label for="department">Branch:</label>
			                <select class="form-control" id="branch_id" name="branch_id" >
			                	<option value = "">Select Branch</option>
			                	{% for branch in branches %}
			                		<option value = "{{ branch.branch_id }}">{{ branch.branch_name|e }}</option>
			                	{% endfor %}
			                </select>
			            </div>
			       		<button onclick="submitForm()" class="btn btn-lg btn-success btn-block btn-login-cust">Submit</button>
<!-- name="submit"  -->
			        </fieldset>
		    	</form>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
            </div>
          </div>
  </section>
</div>


{% include 'admin/layouts/footer.twig' %}

<script>
// /typically 8-12 digits
function submitForm(){
	// alert("test");
 var validator = $('form[id="userForm"]').validate({
  rules: {
	   	firstname    : {
	   	 	required: true,
	        maxlength: 50,
	        lettersonly: true
	   	},
	   	lastname:  {
	   	 	required: true,
	        maxlength: 50,
	        lettersonly: true
	   },
	   username: "required",
	   user_phone_no: {
	   	 	required: true,
	   	 	minlength: 8,
	        maxlength: 12,
	        digits: true
	   	},
        role_id:{
            required: {
                depends: function(element){
                    if('Select Role' == $('#role_id').val()){
                        //Set predefined value to blank.
                        $('#role_id').val('');
                    }
                    return true;
                }
            }
        },
	   department_id:{
            required: {
                depends: function(element){
                    if('Select Department' == $('#department_id').val()){
                        //Set predefined value to blank.
                        $('#department_id').val('');
                    }
                    return true;
                }
            }
        },
        branch_id:{
            required: {
                depends: function(element){
                    if('Select Branch' == $('#branch_id').val()){
                        //Set predefined value to blank.
                        $('#branch_id').val('');
                    }
                    return true;
                }
            }
        },
  	},
    errorElement: "span" ,
    messages: {
		firstname    : {
	   	 	required:  "Firstname is required.",
	        maxlength:  "Name too long, it should be less than 50 characters.",
	        lettersonly: "Please enter valid characters."
	   	},
		lastname:  {
	   	 	required:  "Lastname is required.",
	        maxlength:  "Name too long, it should be less than 50 characters.",
	        lettersonly: "Please enter valid characters."
	   	},
		username: "Username is required",
		user_phone_no: {
	   	 	required:  "Phone is required",
	        maxlength:  "Number should be less than or equal to 12 digits.",
	        minlength:  "Number should be greater than 8 digits.",
	        digits: "Please enter valid digits."
	   	},
		role_id: {
			required: "Select User Role",
		},
		department_id: {
			required: "Select User Department",
		},
		branch_id: {
			required: "Select User Branch",
		},
	}
 });
 if(validator.form()){ // validation perform
  $('form#userForm').attr({action: 'add_user'});
  $('form#userForm').submit(function (e) {
    // Prevent form submission which refreshes page
    //e.preventDefault();
});
 }
}
// })
</script>
