{% include 'admin/layouts/header.twig' %}
{% include 'admin/layouts/sidebar.twig' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
  		{% if(success is defined) %}
 			<div class="alert alert-success">{{ success }}</div>
		{% endif %}
		{% if(error is defined) %}
	 		<div class="alert alert-danger"> {{ error }}</div>
		{% endif %}
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
            	<p><h3>Template Name : {{ template_name }}</h3></p>
            	<form method="post" action="assign_routes" enctype="multipart/form-data">
			        <fieldset>
			        	<div class ="col-md-4">
			        		<div class="form-group">
			            	<label for="role">Routes:</label>
			                <select class="form-control" id="route_id" name="route_id" >
			                	<option value = "-1">Select Route</option>
			                	{% for route in routes %}
			                		<option value = "{{ route.route_id }}">{{ route.route_name|e }}</option>
			                	{% endfor %}
			                </select>
			           	 </div>
			        	</div>
			         	<div class ="col-md-2">
			            <div class="form-group">
			            	<input type="checkbox" name="approval" value="1"> Approval Required<br>
			            </div>
			        </div>
			        <div class ="col-md-4">
			            <div class="form-group">
			            	<label for=level">Level of Approval</label>
			                <input class="form-control" placeholder="Level of Approval" name="level" type="text" required>
			            </div>
			           </div>
			            <div class ="col-md-2">
			            <input type="hidden" name="template_id" value="{{ template_id }}">
						<input type="submit" name="submit" value="Assign" class="btn btn-md btn-success btn-block btn-login-cust">
					</div>
			        </fieldset>
		    	</form>
		    	<table>
				  <tr>
				    <th>Route Name</th>
				    <th>Approval Required</th>
				    <th>Level for Approval</th>
					 <!-- <th>Delete</th> -->
				  </tr>
				  {% for page_access in page_access %}
					  <tr>
					  	<td> {{ page_access.route_name }} </td>
					  	<td> {{ page_access.approval_required }} </td>
					  	<td> {{ page_access.level_for_approval }} </td>
						<!-- <td> <a href="{{constant('BASE_URL')}}admin/assign_routes?id={{ template.template_id }}"><i class="fas fa-edit"></i></a> </td> -->
					  </tr>
				  {% endfor %}
				</table>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
            </div>
          </div>
  </section>
</div>


{% include 'admin/layouts/footer.twig' %}
