{% include 'admin/layouts/header.twig' %}
{% include 'admin/layouts/sidebar.twig' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
  		{% if(success is defined) %}
 			<div class="alert alert-success">{{ success }}</div>
		{% endif %}
		{% if(error is defined) %}
	 		<div class="alert alert-danger"> {{ error }}</div>
		{% endif %}
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">

            	<form method="post" action="assign_template" enctype="multipart/form-data">
			        <fieldset>
			        	<div class ="col-md-4">
			        		<div class="form-group">
			            	<label for="role">Users:</label>
			                <select class="form-control" id="user_id" name="user_id" >
			                	<option value = "-1">Select User</option>
			                	{% for user in users %}
			                		<option value = "{{ user.user_id }}">{{ user.username|e }}</option>
			                	{% endfor %}
			                </select>
			           	 </div>
			        	</div>
			        	<div class ="col-md-4">
			        		<div class="form-group">
			            	<label for="role">Templates:</label>
			                <select class="form-control" id="template_id" name="template_id" >
			                	<option value = "-1">Select Template</option>
			                	{% for template in templates %}
			                		<option value = "{{ template.template_id }}">{{ template.template_name|e }}</option>
			                	{% endfor %}
			                </select>
			           	 </div>
			        	</div>
			        	<div class ="col-md-2">
			           		<input type="submit" name="submit" value="Assign" class="btn btn-md btn-success btn-block btn-login-cust">
						</div>
					</fieldset>
		    	</form>
		    	<table>
				  <tr>
				    <th>Username</th>
				    <th>Template Name</th>

					 <!-- <th>Delete</th> -->
				  </tr>
				  {% for user_access in user_access %}
					  <tr>
					  	<td> {{ user_access.username }} </td>
					  	<td> {{ user_access.template_name }} </td>

						<!-- <td> <a href="{{constant('BASE_URL')}}admin/assign_routes?id={{ template.template_id }}"><i class="fas fa-edit"></i></a> </td> -->
					  </tr>
				  {% endfor %}
				</table>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
            </div>
          </div>
  </section>
</div>


{% include 'admin/layouts/footer.twig' %}
