{% include 'admin/layouts/header.twig' %} {% include 'admin/layouts/sidebar.twig' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<section class="content">
		  {% if(success is defined) %}
 			<div class="alert alert-success">{{ success }}</div>
		{% endif %}
		{% if(error is defined) %}
	 		<div class="alert alert-danger"> {{ error }}</div>
		{% endif %}
		<div class="row">

				<form method="post" action="update_template" enctype="multipart/form-data">
					<fieldset>
						<div class="col-md-12 col-xs-12 col-sm-12">
							<input type="hidden" name="template_id" value="{{ template_id }}">

									<div class="form-group col-md-4 col-xs-4 col-sm-4">
										<label for="template_name">Template Name:</label>
										<input class="form-control" placeholder="Template Name" name="template_name" type="text" value="{{ template_details.template_name }}" required>
									</div>
									<div class="form-group col-md-4 col-xs-4 col-sm-4">
										<label for="role">Role:</label>
										<select class="form-control" id="role_id" name="role_id">
											<option value="-1">Select Role</option>
											{% for role in roles %}
											{% if role.role_id == template_details.role_id %}
												<option value="{{ role.role_id }}" selected="true">{{ role.description|e }}</option>
											{% else %}
												<option value="{{ role.role_id }}">{{ role.description|e }}</option>
											{% endif %}
											{% endfor %}
										</select>
									</div>
									<div class="form-group col-md-4 col-xs-4 col-sm-4">
										<label for="department">Department:</label>
										<select class="form-control" id="department_id" name="department_id">
											<option value="-1">Select Department</option>
											{% for department in departments %}
											{% if department.department_id == template_details.department_id %}
												<option value="{{ department.department_id }}" selected="true">{{ department.department_name|e }}</option>
											{% else %}
												<option value="{{ department.department_id }}">{{ department.department_name|e }}</option>
											{% endif %}
											{% endfor %}
										</select>
									</div>
									<input type="hidden" id="ajax_url" value="{{ base_url() }}/admin/get_users">
						</div>

						<div class="col-md-8 col-sm-8 col-xs-8">
							<div class="panel-group clear-fix" id="accordionSingleOpen" role="tablist" aria-multiselectable="true">
								{% for menu in menus %} {% set count = count + 1 %}
								<div class="col-md-12 col-sm-12 col-xs-12 nopad0">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingOne{{ count }}">
												<h4 class="panel-title">
														<a role="button" data-toggle="collapse" href="#collapseItemOpenOne{{ count }}" aria-expanded="true" aria-controls="collapseItemOpenOne{{ count }}">
														{{ menu.menu_name|e }}
														</a>
												</h4>
											</div>
											<div id="collapseItemOpenOne{{ count }}" class="panel-collapse collapse"   role="tabpanel" aria-labelledby="headingOne{{ count }}">{% for submenu in menu.sub_menus %}
												<div class="panel-body">
														<div class="content1">
																<div class="row margin-cmn1">
																		<div class="col-md-12 col-xs-12 col-sm-12 npad-both3">
																			{% if submenu.is_checked == 1 %}
																			<input type="checkbox" name="routes[]" value="{{ submenu.route_id |e }}" checked>	<span class="labelstyle1">{{ submenu.menu_name |e }} </span>
																			{% else %}
																			<input type="checkbox" name="routes[]" value="{{ submenu.route_id |e }}">	<span class="labelstyle1">{{ submenu.menu_name |e }} </span>
																			{% endif %}
																		</div>
																		<div class="col-md-12 col-xs-12 col-sm-12 npad-both2">
																			<div class="col-md-4 npad-both1">
																				{% if submenu.approval_required == 1 %}
																					<input type="checkbox" name="approval[]" value="1" checked> <span class="labelstyle">Approval Required</span>
																				{% else %}
																					<input type="checkbox" name="approval[]" value="1"> <span class="labelstyle">Approval Required</span>
																				{% endif %}
																			</div>
																			<div class="col-md-8 npad-both2">

																				<div class="approval">
																				<span class="labelstyle">Level of Approval</span>
																					<select class="form-control la-input" id="approval_level" name="level[]">
																						<option value="-1">Select Level of Approval</option>
																						{% for role in roles %}
																							{% if level[submenu.route_id] == role.role_id  %}
																								<option value="{{ role.role_id }}" selected>{{ role.description|e }}</option>
																							{% else %}
																								<option value="{{ role.role_id }}">{{ role.description|e }}</option>
																							{% endif %}
																						{% endfor %}
																					</select>
																					</div>
																			</div>
																		</div>
																</div>
														</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4" id="checkboxes">
						  <div class="box box-solid box-solid-cust">
							  	<h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
	                            Users
	                        	</h4>
	                        	<input type="hidden" id="ajax_url_user_template" value="{{ base_url() }}/admin/check_user_template">
						 		<div class="box-body append_user_list">
								 <ul>
								  	{% for user in users %}
								  		{% if users_assigned[user.user_id] %}
								    		<li><input class='checkbox' name= 'user_list[]' type='checkbox' value="{{ user.user_id }}" checked>{{ user.username|e }}</li>
								    	{% else %}
								    		<li><input class='checkbox' name= 'user_list[]' type='checkbox' value="{{ user.user_id }}">{{ user.username|e }}</li>
								  		{% endif %}
								   {% endfor %}
								  </ul>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="form-group mr-t-sm">
										<button type="submit" name="submit" value="Submit" class="btn btn-md btn-success btn-block btn-login-cust btn-submit-width">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
		</div>
	</section>
</div>
{% include 'admin/layouts/footer.twig' %}
<script type="text/javascript">
	$(document).ready(function() {
    $('#role_id, #department_id').on('change', sendData);

    function sendData() {
    	var url = $('#ajax_url').val();
    	var role_id = $('#role_id').val();
        var department_id   = $('#department_id').val();

        if ( role_id !== "-1" && department_id !== "-1") {
        	//alert("in ajax");
            $.ajax({
                type     : 'POST',
                url      :  url,
                dataType : 'json',
                data     : {
                    role_id: role_id,
                    department_id: department_id
                },
                success  : function (data) {
					//alert(data);\
					$(".append_user_list").html("");
					var html = "";


					html = "<ul name='users[]'>";

					jQuery.each(data, function(index, item) {
					   html += "<li><input class='checkbox' name= 'user_list[]' type='checkbox' onclick='test(this)' value="+data[index]['user_id']+">  "+data[index]['username']+"</li>";

					});

                  	html += "</ul>";
                  $(".append_user_list").append(html);
        		}
            });
        }
    }
});
function test(data) {

	if(data.checked) {
		var url = $('#ajax_url_user_template').val();

		var user_id = data.value;
		$.ajax({
            type     : 'POST',
            url      :  url,
            data     : {
                user_id: user_id,
           	},
            success  : function (result) {
				//alert(result);
				if(result)
				{
					var r = confirm("This user is already been assigned a template. Do you want to overwrite it?");
					if (r == true) {
						data.checked = true;
					    //alert("You pressed OK!");
					} else {
					   // alert("You pressed Cancel!");
					    data.checked = false;
					}
				}

    		}
        });
	}
}

</script>