{% include 'admin/layouts/header.twig' %}
{% include 'admin/layouts/sidebar.twig' %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
  {% if(success is defined) %}
 			<div class="alert alert-success">{{ success }}</div>
		{% endif %}
		{% if(error is defined) %}
	 		<div class="alert alert-danger"> {{ error }}</div>
		{% endif %}
  <p><h3>Add New User</h3></p>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
            	<form method="post" id="userForm" enctype="multipart/form-data">
			        <fieldset>
			            <div class="form-group">
			            	<label for="firstname">First Name:</label>
			                <input class="form-control" placeholder="First Name" name="firstname" type="text" value="" required >
			            </div>
			            <div class="form-group">
			            	<label for="lastname">Last Name:</label>
			                <input class="form-control" placeholder="Last Name" name="lastname" type="text"  value="" required>
			            </div>
			           <div class="form-group">
			            	<label for="username">Username:</label>
			                <input class="form-control" placeholder="UserName" name="username" type="text"  value="" required>
			            </div>
			            <div class="form-group">
			            	<label for="email">User Phone:</label>
			                <input class="form-control" placeholder="User Phone" name="user_phone_no" type="text" value="" required>
			            </div>
			            <!-- <div class="form-group">
			            	<label for="email">Email:</label>
			                <input class="form-control" placeholder="Email" name="email" type="text" required>
			            </div> -->
			            <div class="form-group">
			            	<label for="role">Role:</label>
			                <select class="form-control" id="role_id" name="role_id" >
			                	<option value = "-1">Select Role</option>
			                	{% for role in roles %}
			                		<option value = "{{ role.role_id }}">{{ role.description|e }}</option>
			                	{% endfor %}
			                </select>
			            </div>
			            <div class="form-group">
			            	<label for="department">Department:</label>
			                <select class="form-control" id="department_id" name="department_id" >
			                	<option value = "-1">Select Department</option>
			                	{% for department in departments %}
			                		<option value = "{{ department.department_id }}">{{ department.department_name|e }}</option>
			                	{% endfor %}
			                </select>
			            </div>
			            <div class="form-group">
			            	<label for="department">Branch:</label>
			                <select class="form-control" id="branch_id" name="branch_id" >
			                	<option value = "-1">Select Branch</option>
			                	{% for branch in branches %}
			                		<option value = "{{ branch.branch_id }}">{{ branch.branch_name|e }}</option>
			                	{% endfor %}
			                </select>
			            </div>
			       		<input type="submit" name="submit" onclick="submitForm();" value="Submit" class="btn btn-lg btn-success btn-block btn-login-cust">

			        </fieldset>
		    	</form>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
            </div>
          </div>
  </section>
</div>


{% include 'admin/layouts/footer.twig' %}
<script>
function submitForm(){
 var validator = $('form[id="userForm"]').validate({
  rules: {
   firstname    : "required",
   lastname: "required",
   username: "required",
   user_phone_no: "required",
   role_id: "required",
   department_id: "required",
  },
   errorElement: "span" ,
   messages: {
	firstname    : "Firstname is required.",
	lastname: "Lastname is required",
	username: "Username is required",
	user_phone_no: "Phone is required",
	role_id: "Role is required",
	department_id: "Dpartment is required",
  }
 });
 if(validator.form()){ // validation perform
  $('form#userForm').attr({action: '<?= base_url(); ?>admin/add_user'});
  $('form#userForm').submit(function (e) {
    // Prevent form submission which refreshes page
    e.preventDefault();
});
 }
}
</script>
