{% include 'admin/layouts/header.twig' %}
{% include 'admin/layouts/sidebar.twig' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
  	{% if(success is defined) %}
 		<div class="alert alert-success">{{ success }}</div>
	{% endif %}
	{% if(error is defined) %}
 		<div class="alert alert-danger"> {{ error }}</div>
	{% endif %}
  	<a href="{{constant('BASE_URL')}}admin/edit_menu_structure"><u>Edit Menu Structure</u></a>
    <div class="col-md-12 col-xs-12 col-sm-12">
    	<table>
		  <tr>
		    <th>Menu Id</th>
		    <th>Menu Name</th>
		</tr>
		  {% for menu in menus %}
			  <tr>
			  	<td> {{ menu.menu_item_id }} </td>
			  	<td> {{ menu.menu_name }} </td>

			  </tr>
		  {% endfor %}
		</table>
    </div>
  </section>
</div>
{% include 'admin/layouts/footer.twig' %}