{% include 'admin/layouts/header.twig' %}
{% include 'admin/layouts/sidebar.twig' %}

<div class="content-wrapper">
  <section class="content">
  	<form method="post" action="update_menu_structure" enctype="multipart/form-data">
			        <fieldset>
	<div class="dhe-example-section" id="ex-1-3">
        <div class="dhe-example-section-content">

          <!-- BEGIN: XHTML for example 1.3 -->
	     	<div id="example-1-3">
	          	{% for menu in menus %}
	   			<p>{{ menu.menu_name|e }}</p><input type="hidden" name="main_menus[]" value="{{ menu.menu_item_id|e }}">
					<div class="column left">
		              <ul class="sortable-list" id="{{ menu.menu_item_id|e }}">
		              	{% for submenu in menu.sub_menus %}
		                	<li class="sortable-item" name="{{ menu.menu_item_id|e }}">{{ submenu.menu_name|e }}<input type="hidden" name="sub_menus[{{ menu.menu_item_id|e }}][]" value="{{ submenu.menu_item_id|e }}" id="{{ menu.menu_item_id|e }}"></li>
		                {% endfor %}
		              </ul>
		            </div>
				{% endfor %}

	   			<p>Unassigned Menus</p>
					<div class="column left">
		              <ul class="sortable-list">
		              	{% for unassigned in unassigned_menus %}
		                	<li class="sortable-item" name="{{ unassigned.menu_item_id|e }}">{{ unassigned.menu_name|e }}<input type="hidden" name="sub_menus[{{ unassigned.menu_item_id|e }}][]" value="{{ unassigned.menu_item_id|e }}" id="{{ unassigned.menu_item_id|e }}"></li>
		                {% endfor %}
		              </ul>
		            </div>

				<div class="clearer">&nbsp;</div>
			</div>
        </div>
    </div>
    <button type="submit" name="submit" value="Submit" class="btn btn-md btn-success btn-block btn-login-cust btn-submit-width">Submit</button>
  </fieldset>
</form>
  </section>
</div>

 {% include 'admin/layouts/footer.twig' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
  // Example 1.3: Sortable and connectable lists with visual helper
  $('#example-1-3 .sortable-list').sortable({
    connectWith: '#example-1-3 .sortable-list',
    placeholder: 'placeholder',
   //   stop: function (event, ui) {
   //   	console.log(ui);
   //      var moved = ui.item,
   //          replaced = ui.item.prev();

   //      // if replaced.length === 0 then the item has been pushed to the top of the list
   //      // in this case we need the .next() sibling

   //      $(moved).addClass("intro", function(){
   //        $('.intro').attr('name', replaced.attr("name"));
   //        $(".intro :input").attr('name', "sub_menus["+replaced.attr("name")+"][]");
   //      });

 		// if (replaced.length == 0) {
   //          replaced = ui.item.next();
   //      }

   //      var moved_id = moved.attr("id");
   //      var replaced_id = replaced.attr("id")
   //      $("#"+moved_id).attr('name', "sub_menus["+replaced_id+"][]");
   //      $(moved).addClass("intro", function(){
   //        $(".intro :input").attr('name', "sub_menus["+replaced.attr("name")+"][]");
   //      });
   //      $(moved).removeClass("intro");

   //       // alert("moved ID:" + moved.attr("name") + "replaced ID:" + replaced.attr("name"));
   //       // alert("moved Name:" + moved.attr("value") + "replaced Name:" + replaced.attr("value"));
   //  }
   stop: function (event, ui) {
		var moved = ui.item,
		replaced = ui.item.prev();
		if (replaced.length == 0) {
			replaced = ui.item.next();
		}

		var moved_id = moved.attr("id");
		$(moved).addClass("intro", function () {
			cid = [];
			var id = $(this).closest('ul').attr('id');
			cid.push(id);
			$(".intro :input").attr('name', "sub_menus[" + cid[0] + "][]");
			$(".sortable-item.ui-sortable-handle.intro").removeClass("intro");
		});
   }
  });
});
  </script>