{% include 'admin/layouts/header.twig' %}
{% include 'admin/layouts/sidebar.twig' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
  	{% if(success is defined) %}
 		<div class="alert alert-success">{{ success }}</div>
	{% endif %}
	{% if(error is defined) %}
 		<div class="alert alert-danger"> {{ error }}</div>
	{% endif %}
  	<a href="{{constant('BASE_URL')}}admin/create_template"><u>Add New Template</u></a>
    <div class="col-md-12 col-xs-12 col-sm-12">
    	<table>
		  <tr>
		    <th>Template Id</th>
		    <th>Template Name</th>
		    <th>Role</th>
		    <th>Department</th>
		    <th>Actions</th>
		    <!-- <th>Assign Page Access</th> -->
		  </tr>
		  {% for template in templates %}
			  <tr>
			  	<td> {{ template.template_id }} </td>
			  	<td> {{ template.template_name }} </td>
			  	<td> {{ template.description }} </td>
			  	<td> {{ template.department_name }} </td>
			  	<td><a href="{{constant('BASE_URL')}}admin/edit_template?id={{ template.template_id }}">Edit</a></td>
			  	<!-- <td> <a href="{{constant('BASE_URL')}}admin/assign_routes?id={{ template.template_id }}"><i class="fas fa-edit"></i></a> <a href="{{constant('BASE_URL')}}admin/edit_template?id={{ template.template_id }}">Edit</a></td> -->
			  </tr>
		  {% endfor %}
		</table>
    </div>
  </section>
</div>
{% include 'admin/layouts/footer.twig' %}
