{% include 'admin/layouts/header.twig' %}
{% include 'admin/layouts/sidebar.twig' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
  	{% if(success is defined) %}
 		<div class="alert alert-success">{{ success }}</div>
	{% endif %}
	{% if(error is defined) %}
 		<div class="alert alert-danger"> {{ error }}</div>
	{% endif %}
  	<a href="{{constant('BASE_URL')}}admin/add_user"><u>Add New User</u></a>
    <div class="col-md-12 col-xs-12 col-sm-12">
    	<table>
		  <tr>
		    <th>Username</th>
		    <th>First Name</th>
		    <th>Last Name</th>
		    <th>Department</th>
		    <th>Role</th>
		    <!-- <th>Actions</th> -->
		    <!-- <th>Assign Page Access</th> -->
		  </tr>
		  {% for user in users %}
			  <tr>
			  	<td> {{ user.username }} </td>
			  	<td> {{ user.first_name }} </td>
			  	<td> {{ user.last_name }} </td>
			  	<td> {{ user.department_name }} </td>
			  	<td> {{ user.description }} </td>
			  	<!-- <td><a href="{{constant('BASE_URL')}}admin/edit_user?id={{ user.user_id }}">Edit</a>
			  	<a href="{{constant('BASE_URL')}}admin/delete_user?id={{ user.user_id }}">Delete</a></td> -->
			  	<!-- <td> <a href="{{constant('BASE_URL')}}admin/assign_routes?id={{ template.template_id }}"><i class="fas fa-edit"></i></a> </td> -->
			  </tr>
		  {% endfor %}
		</table>
    </div>
  </section>
</div>
{% include 'admin/layouts/footer.twig' %}
