
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="active treeview"> <a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="{{constant('BASE_URL')}}admin/users"><i class="fa fa-circle-o text-aqua"></i> <span>User</span></a></li>
         <li><a href="{{constant('BASE_URL')}}admin/templates"><i class="fa fa-circle-o text-aqua"></i> <span>Templates</span></a></li>
      <!--  <li><a href="{{constant('BASE_URL')}}admin/assign_template"><i class="fa fa-circle-o text-aqua"></i> <span>Assign Templates to user</span></a></li>-->
        <li><a href="{{constant('BASE_URL')}}admin/menus"><i class="fa fa-circle-o text-aqua"></i> <span>Menus</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
