{% include 'layouts/header.twig' %}
{% include 'layouts/sidebar.twig' %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
              <!-- <div class="box box-default">
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-circle" src="img/BNN-women.jpg" alt="User profile picture">

                  <h3 class="profile-username text-center">Natasha Romanoff</h3>

                  <p class="text-muted text-center">Social Worker</p>

                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Email Id</b> <a class="pull-right">nina@gmail.com</a>
                    </li>
                    <li class="list-group-item">
                      <b>Mobile No</b> <a class="pull-right">+7 (555) 123-123</a>
                    </li>
                    <li class="list-group-item">
                      <b>Address</b> <a class="pull-right">Kampala, Uganda.</a>
                    </li>
                  </ul>
                </div>

              </div> -->
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
            </div>
          </div>
  </section>
</div>


{% include 'layouts/footer.twig' %}
