
{% include 'layouts/login_header.twig' %}
{% if(session.msg is defined) %}
        <p class="alert alert-success alert-custom">{{ session.msg }}</p>
    {% endif %}

    {% if(code is defined) %}
        <p class="alert alert-success alert-custom">{{ msg }}</p>
    {% endif %}
<div class="panel-heading">
    <h3 class="panel-title">Forgot Password</h3>
</div>
<div class="panel-body">

    <form method="post" action="forgot_password" enctype="multipart/form-data">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Username" name="username" type="text" autofocus required>
                <span class = "error">{{ nameErr }} </span>
            </div>

            <input type="submit" name="submit" value="Generate OTP" class="btn btn-lg btn-success btn-block btn-login-cust">
        </fieldset>
    </form>
</div>
{% include 'layouts/login_footer.twig' %}