{% include 'layouts/login_header.twig' %}

    {% if(session.login_msg is defined) %}
        <p class="alert alert-success alert-custom">{{ session.login_msg }}</p>
    {% endif %}

    {% if(session.pass_msg is defined) %}
     <p class="alert alert-success alert-custom">{{ session.pass_msg }}</p>
    {% endif %}
    
    {% if(code is defined) %}
     <p class="alert alert-success alert-custom">{{ msg }}</p>
    {% endif %}


<div class="panel-heading">
    <h3 class="panel-title">Sign In</h3>
</div>
<div class="panel-body">


    <form method="post" action="dashboard" enctype="multipart/form-data">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Username" name="username" type="text" autofocus required>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" value="" required>
            </div>
            <!-- <div class="checkbox">
                <label>
                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                </label>
            </div> -->
           
            <input type="submit" name="submit" value="Submit" class="btn btn-lg btn-success btn-block btn-login-cust">
            <a href="forgot_password">Forgot Password?</a>
        </fieldset>
    </form>
</div>
{% include 'layouts/login_footer.twig' %}