{% include 'layouts/login_header.twig' %}

    {% if(code is defined) %}
        <p class="alert alert-success alert-custom">{{ msg }}</p>
     {% endif %}
<div class="panel-heading">
    <h3 class="panel-title">Change Password</h3>
</div>
<div class="panel-body">
   <form method="post" action="new_password" enctype="multipart/form-data">
    {% set password_err = error_array|split(',') %}
    {% if(password_err is defined) %}
            {% for key,value in password_err %}
               <span class = "error">{{ value | replace({'[' : '', ']' : '', '"' : '' })  }} </span>
               <br>
            {% endfor %}
        {% endif %}
        <fieldset>

            <div class="form-group">
                <input class="form-control" placeholder="New Password" name="n_pswd" type="password" autofocus required>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Confirm Password" name="c_pswd" type="password" autofocus required>
                <span class = "error">{{ new_err| replace({'[' : '', ']' : '', '"' : '' })  }} </span>
            </div>

            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="submit" name="submit" value="Submit" class="btn btn-lg btn-success btn-block btn-login-cust">
        </fieldset>
    </form>
</div>
{% include 'layouts/login_footer.twig' %}
