{% include 'layouts/login_header.twig' %}
    {% if(session.msg is defined) %}
        <p class="alert alert-success alert-custom">{{ session.msg }}</p>
    {% endif %}

    {% if(code is defined) %}
        <p class="alert alert-success alert-custom">{{ msg }}</p>
    {% endif %}
<div class="panel-heading">
    <h3 class="panel-title">Verify Otp</h3>
</div>
<div class="panel-body">

    <form method="post" action="verify_otp" enctype="multipart/form-data">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Enter OTP" name="otp" type="number" required>
            </div>
            <span class = "error">{{ otp_err }} </span>
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="user_name" value="{{ user_name }}">

            <input type="submit" name="submit" value="Submit OTP" class="btn btn-lg btn-success btn-block btn-login-cust">

        </fieldset>
    </form>

    {% if(session.resend_flag) %}
    <form method="post" action="otp_resend" enctype="multipart/form-data" style="display: none;">
    {% else %}
    <form method="post" action="otp_resend" enctype="multipart/form-data">
    {% endif %}
        <input type="hidden" name="user_name" value="{{ user_name }}">
        <input type="submit" value="Resend OTP" class="btn btn-lg btn-success btn-block btn-login-cust">
    </form>
</div>
{% include 'layouts/login_footer.twig' %}