{% include 'layouts/header.twig' %}
{% include 'layouts/sidebar.twig' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content">
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
              Transfer Payments
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
            </div>
          </div>
  </section>
</div>


{% include 'layouts/footer.twig' %}